/****************HEADER*********************************************************************************************/

header{
	background-color: rgb(245,245,245);	
  float: left;
  width: 100%;

}
#header-image {
    text-align: center;
    float: left;
    width: 100%;
}


#AA_logo{
	padding: 20px;
}
#invitation{
   background: -moz-linear-gradient(#748fba,#8ba6d1);
   background: -webkit-linear-gradient(#748fba,#8ba6d1);
	 color:white;
	 padding: 15px 0;
   float: left;
   width: 100%;
}
#invitation-dialog{
	font-weight: bold;
	font-size: 17px;
}
#icon-play {
    width: 28px;
    height: 16px;
    background: url('../images/sprite.png') repeat scroll 215px -88px transparent;
    margin-top: 3px;
    float: left;
    margin-left: 15%;
}



/******************************************LOGIN CONTAINER******************************************************/
section
{
  float: left;
  width: 100%;
}
#container
{
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: relative;
}
.wrapper
{
    margin: 0 auto;
    width: 72%;
}
#banner
{
    float: left;
    margin-top: 63px;
    width: 52%;
}
#banner_text
{
    float: left;
}
#banner_image
{
  width:100%;
  float:left;
}
#form
{
    float: left;
    margin-top: 30px;
    width: 100%;
}
#form_wrap
{
  width: 70%;
  margin: 0 auto;
}
.text_field
{
    float: left;
    padding: 15px 0px;
}

#field_mail
{
    height: 37px;
    float: left;
    width: 280px;
    border: 1px solid  rgba(0, 0, 0, 0.73);
    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    padding-left: 36px;

}
#field_mileage
{
    height: 37px;
    float: left;
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.73);
    background-image: url("../images/key.png");
    background-repeat: no-repeat;
    padding-left: 36px;
}


::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.73);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.73);
   opacity: 1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.73);  
   opacity: 1;  
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, 0.73);  
}
#button
{
    width: 280px;
    margin-top: 20px;
    border-radius: 0px;
    border: 1px solid white;
    background-color: #002B45;
    color: white;
    height: 43px;
}
#russell
{
    float: right;
    padding-top: 50px;
    bottom: 0;
}
#container_border
{
    background: -moz-linear-gradient(#748fba,#8ba6d1);
    background: -webkit-linear-gradient(#748fba,#8ba6d1);
    height: 45px;
    float: left;
    width: 100%;
}
.text_sec1
{
    width: 100%;
    background-color: #F2F5FA;   
    margin-top: 666px;
    font-size: 17px;
    padding-bottom: 3%;
}
.text_white
{
  color: #2E2E2E;
  text-align: center;
  margin: 0px;
}
.text_blue
{
    color: #7098CB;
    text-align: center;
    margin: 0px;
    font-weight: bold;
}
#text_sec2
{
   width: 100%;
    background-color: #E8ECF5;
    font-size: 18px;
    padding: 3% 0%;
}
.italic
{
  font-style: italic;
}
#text_sec3
{
    width: 100%;
    background-color: #F2F5FA;
    font-size: 17px;
    padding: 4% 0%;
}
#image
{
  float: left;
  padding-bottom: 10%;
}

/*//////////////////REGISTRATION FORM//////////////////*/
#reg-form-wrapper {
    background-image: url('../images/form_bg.jpg');
    background-size: contain;
    margin: 60px 18%;
    width: 65%;
    float: left;
}
#reg-form-header{
    background-color: rgb(10,46,70); 
    height: 55px;
    width: 100%;
    text-align: center;
    display: table;
    float: left;
}
#reg-form-heading{
    text-transform: uppercase;
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
}
#reg_form
{
    float: left;
    margin-top: 30px;
    width: 92%;
}
#register-part {
  display: block;
  float: left;
}
#guest-primary{

    width: 212px;
    float: left;
    padding: 1px 4%;
}
.field_registration{
        height: 33px;
        border: 1px solid rgba(0, 0, 0, 0.73);
        background-repeat: no-repeat;
        padding-left: 42px;
        margin-top: 20px;
}
#guest-info{ 
    color: #00243C;
    font-size: 12px;
}
#First_Name{
     background-image: url("../images/user.png");
     font-size: 13px;
}
#Last_name{
    background-image: url("../images/user.png");
    font-size: 13px;
}
#E-mail_address{
    background-image: url("../images/email.png");
    font-size: 13px;
}
#Mileage {
    background-image: url("../images/key.png");
    font-size: 13px;
}
#Donate_mileage{
    background-image: url("../images/donate.png");
    font-size: 13px;
}
#over_age{
    margin-top: 25px;
}
#over-age_text{
    font-size: 12px;
    color: #00243C;
    position: relative;
    bottom: 3px;
}
#check-age{
  float: left;
  padding: 0 4%;
}
.guest-plus_one {
    width: 225px;
    float: left;
    padding-left: 27px;

}
#question-to-russell {
    border-color: #000000;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    width: 225px;
    font-size: 12px;
    height: 85px;
}
#reg_man-container{
    float: right;
}
#reg-submit-container{
    margin-top: 34px;
    padding-bottom: 82px;
    float: left;
    width: 100%;
}
#reg-submit{
    width: 225px;
    margin-left: 31px;
    height: 35px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(0, 43, 69, 1);
    color: #fff;
    float: left;
}


#russell-autograph{
   font-size: 13px;
    width: 312px;
    float: right;
    text-align: right;
    margin-right: 4%;
}

/* for error messages */


.firstWrapper
{
  position: relative;
}
#first_error
{
    display: none;
    color: red;
    position: absolute;
    top: 15px;
    left: 42px;
    font-size: 14px;
    width: 75%;
    background-color: white;
}
.lastWrapper
{
  position: relative;
}
#last_error
{
    display: none;
    color: red;
    position: absolute;
    top: 15px;
    left: 42px;
    font-size: 14px;
    width: 75%;
    background-color: white;
}

.emailWrapper
{
  position: relative;
}
#email_error
{
    display: none;
    color: red;
    position: absolute;
    top: 15px;
    left: 42px;
    font-size: 14px;
    width: 75%;
    background-color: white;
}

.mileageWrapper
{
  position: relative;
}
#mileage_error
{
    display: none;
    color: red;
    position: absolute;
    top: 15px;
    left: 42px;
    font-size: 14px;
    width: 75%;
    background-color: white;
}
.donateWrapper{
  position:relative;
}
#donate_error{
    display: none;
    color: red;
    position: absolute;
    top: 15px;
    left: 42px;
    font-size: 14px;
    width: 88%;
    background-color: white;
}


/*////////////////REGISTERED SUCCESSFULLY////////////////////////*/
#registered-part
{   
    padding-bottom: 48%;
    width: 100%;
    display:none;
}
#registered_text
{
   float: left;
    margin-top: 119px;
    padding-left: 15%;
    width: 53%;
}
.align
{
    font-size: 15px;
    text-align: center;
}
#event_details
{
  margin: 40px auto;
  width: 100%;
  float: left;
}
#center_wrap
{
  width: 59%;
  margin: auto;
}
#date
{
  float: left;
  font-size: 14px;
}
#venue
{
  float: right;
  font-size: 14px;
  text-align: right;
}
.white
{
  color: #2E2E2E;
  margin: 0; 
}
.blue
{
  color: #7098CB;
  margin: 0px;
  font-weight: bold;

}

/******FOOTER****************************************************************************************************/
.site-footer{
  	text-align: center;
    float: left;
    width: 100%;
}
#footer-sec1 {
    width: 100%;
    height: 150px;
    float: left;
}
#footer-sec2{
	background-color: #7691BC;
    height: 62px;
    color: #FFF;
    float: left;
    width: 100%;
    display:table;
	
}
#footer-mail{
	 display: table-cell;
    vertical-align: middle; 
}
#hor_line{
	opacity: 0.6;
  text-align: center;
}
#footer-partners{
	width: 100%;
  float: left;
  margin: 25px auto;

}
#footer-partners-heading{
	margin-top: 9px;
  text-transform: uppercase;
  font-size: 9px;
  float: left;
  padding-left: 43%;
}
#partner-logo{
  display: inline-block;
  float: left;
  padding-left: 33%;
}
#john
{
    width: 204px;
    height: 46px;
    background: url('../images/sprite.png') repeat scroll 5px -318px transparent;
    margin-top: 13px;
    float: left;
}
#visa
{
    width: 160px;
    background: url('../images/sprite.png') repeat scroll 0px -146px transparent;
    height: 44px;
    margin-top: 18px;
    float: left;
}
#seastar{
    margin-top: 13px;
    float: left;
}
/******fontello css code for icon-play*******/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello-14ddab5a/font/fontello.eot?92847316');
  src: url('../fonts/fontello-14ddab5a/font/fontello.eot?92847316#iefix') format('embedded-opentype'),
       url('../fonts/fontello-14ddab5a/font/fontello.woff?92847316') format('woff'),
       url('../fonts/fontello-14ddab5a/font/fontello.ttf?92847316') format('truetype'),
       url('../fonts/fontello-14ddab5a/font/fontello.svg?92847316#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92847316#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-quote-right:before { content: '\e800'; } /* '' */
.icon-quote-circled:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
/************ css for icon-play ends*************/  




/***************MEDIA QUERY**********************/
@media screen and (max-width:1280px){
  .wrapper
  {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width:960px){
  #russell
  {
    display: none;
  }
  .wrapper
  {
    width: 65%;
  }
  #banner
  {
    width: 100%;
  }
  #button
    {
      margin-bottom: 20px;
    }
    .text_sec1
    {
      margin-top: 490px;
    }
}
@media screen and  (min-width:320px and max-width:480px){
    #field_mail
    {
      width: 200px;
      height: 30px;
    }
    #field_mileage
    {
      width: 200px;
      height: 30px;
    }
    #form_wrap
    {
      margin: 0;
    }
    #button
    {
      width: 200px;
      margin-bottom: 20px;
    }
    #icon-play
  {
    margin-left: 0;
  }
    #invitation-dialog
    {
      font-size: 12px;
    }
    #event_details {
    margin: 40px auto;
    width: 100%;
    float: left;
    }
    #date{
      float: none;
    }
    #john
    {
        width: 37%;
        height: 46px;
        background: url('../images/sprite.png') repeat scroll 0px -108px transparent;
        margin-top: 13px;
        float: left;
        margin-left: -23%;
    }
    #visa
    {
       background: url('../images/sprite.png') repeat scroll 185px -146px transparent;
        width: 29%;
        height: 43px;
        float: left;
    }
    #seastar{
        margin-top: 13px;
        float: left;
    }
    #blue{
      color: #7098CB;
    font-weight: bold;
    margin-top: 36px;
    text-align: center;
    font-size: 9px;
    }
    .blue {
    color: #7098CB;
    margin: 6px auto;
    font-weight: bold;
    font-size: 9px;
    }
    .italic {
    font-style: italic;
    padding-right: 13%;
    }
   .white {
    color: #2E2E2E;
    text-align: center;
    font-size: 9px;
    }
    #footer-partners-heading {
    margin-top: 9px;
    text-transform: uppercase;
    font-size: 9px;
    float: left;
    padding-left: 29%;
    }
    #partner-logo {
    display: inline-block;
    padding-left: 33%;
    float: left;
    width: 100%;
  }
  #registered_text{
    padding-left: 25%;
    width: 50%;
  }


}
@media screen and (min-width: 480px) and (max-width:640px){
  #icon-play
  {
    margin-left: 0;
  }
  #invitation-dialog
  {
    font-size: 15px;
  }
  #hor_line
  {
    width: 100%;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #reg_man-container
  {
    display: none;
  }
  #russell-autograph
  {
    display: none;
  }
  #register-part
  {
    margin-left: 10%;
  }
}
@media screen and (max-width: 768px){
  #reg-form-heading
  {
    font-size: 15px;
  }
  #register-part {
    margin-left: 10%;
  }

.guest-plus_one {
    float: left;
    margin-top: 78px;
    padding-left: 13px;
    width: 225px;
}

#check-age {
    float: left;
    padding: 0 2%;
    position: absolute;
    top: 417px;
    width: 300px;
}
#reg_man-container
  {
    display: none;
  }
  #reg-submit
  {
    margin-left: 13px;
  }
  #russell-autograph {
  font-size: 11px;
  margin-top: 60px;
  width: 232px;
  float: none;
  text-align: left;
  margin-right: 14%;
  }
  #reg-form-wrapper {
  background-image: url('../images/form_bg.jpg');
  background-size: contain;
  margin: 60px 14%;
  width: 74%;
  float: left;
  }
}
@media screen and (max-width: 480px){
  #hor_line
  {
    width: 100%;
    opacity: 0.8;
  }
  #over-age_text
  {
     padding-right: 23%;
  }
  #question-to-russell
  {
    width: 215px;
  }
  #reg-submit
  {
    width: 215px;
  }
  
#reg-form-heading {
    font-size: 12px;
}
}
