/****************HEADER*********************************************************************************************/

header{
	background-color: rgb(245,245,245);	

}
#header-image {
    height: 10%;
    text-align: center;

}
#AA_logo{
	padding: 20px;
}
#invitation{
	background-color: rgb(118,145,188);
  background: -moz-linear-gradient(#748fba,#8ba6d1);
   background: -webkit-linear-gradient(#748fba,#8ba6d1);
	color:white;
	 height: 3%;
	 padding: 15px 0;
}
#invitation-dialog{
	font-weight: bold;
	font-size: 17px;
}
#icon-play {
    width: 28px;
    height: 16px;
    background: url('../images/sprite.png') repeat scroll 215px -88px transparent;
    margin-top: 3px;
    float: left;
    margin-left: 188px;
}



/******************************************LOGIN CONTAINER******************************************************/
.main {
  
  /* equal to footer height */
  margin-bottom: -142px; 
}
section
{
  float: left;
  width: 100%;
}
#container
{
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: relative;
}
.wrapper
{
    margin: 0 auto;
    width: 68%;
}
#banner
{
    float: left;
    margin-top: 63px;
    width: 48%;
}
#banner_text
{
    float: left;
}
#form
{
    
}
.text_field
{
    float: left;
    margin-top: 7%;
    width: 93%;
    padding: 0 19%;
}
.field_mail
{
    height: 33px;
    float: left;
    width: 77%;
    border: 1px solid  rgba(0, 0, 0, 0.73);
    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    padding-left: 36px;

}
.field_mileage
{
    height: 33px;
    float: left;
    width: 77%;
    border: 1px solid rgba(0, 0, 0, 0.73);
    background-image: url("../images/key.png");
    background-repeat: no-repeat;
    padding-left: 36px;
}


::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.73);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.73);
   opacity: 1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.73);  
   opacity: 1;  
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, 0.73);  
}
#button
{
    width: 71%;
    margin-top: 7%;
    border-radius: 0px;
    border: 1px solid white;
    background-color: #002B45;
    color: white;
    height: 43px;
    margin-left: 19%;
}
#russell
{
    float: right;
    padding-top: 50px;
    bottom: 0;
}
#container_border
{
    background-color: rgb(118,145,188);
    background: -moz-linear-gradient(#748fba,#8ba6d1);
    background: -webkit-linear-gradient(#748fba,#8ba6d1);
    height: 7%;
    float: left;
    width: 100%;
}
.text_sec1
{
    width: 100%;
    background-color: #F2F5FA;   
    margin-top: 52%;
    font-size: 17px;
    padding-bottom: 3%;
}
.text_white
{
  color: #2E2E2E;
  text-align: center;
  margin: 0px;
}
.text_blue
{
    color: #7098CB;
    text-align: center;
    margin: 0px;
}
#text_sec2
{
   width: 100%;
    background-color: #E8ECF5;
    font-size: 18px;
    padding: 3% 0%;
}
.italic
{
  font-style: italic;
}
#text_sec3
{
    width: 100%;
    background-color: #F2F5FA;
    font-size: 17px;
    padding: 4% 0%;
}
#image
{
  float: left;
  padding-bottom: 10%;
}

/*//////////////////REGISTRATION FORM//////////////////*/
#reg-form-wrapper {
    background-image: url('../images/form_bg.jpg');
    background-size: contain;
    margin: 5% auto;
    width: 60%;
}
#reg-form-header{
    background-color: rgb(10,46,70); 
    height: 55px;
    width: 100%;
    text-align: center;
    display: table;
}
#reg-form-heading{
    text-transform: uppercase;
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
    width: 772px;
}
#guest-primary{

    width: 21%;
    padding: 1px 4%
}
.field_registration{
        height: 33px;
        border: 1px solid rgba(0, 0, 0, 0.73);
        background-repeat: no-repeat;
        padding-left: 42px;
        margin-top: 20px;
}
#guest-info{ 
    color: #00243C;
    font-size: 12px;
    margin-top: 22;
}
#First_Name{
     background-image: url("../images/user.png");
     font-size: 13px;
}
#Last_name{
    background-image: url("../images/user.png");
    font-size: 13px;
}
#E-mail_address{
    background-image: url("../images/email.png");
    font-size: 13px;
}
#Mileage {
    background-image: url("../images/key.png");
    font-size: 13px;
}
#Donate_mileage{
    background-image: url("../images/donate.png");
    font-size: 13px;
}
#over_age{
    margin-top: 25px;
}
#over-age_text{
    font-size: 12px;
    color: #00243C;
    position: relative;
    bottom: 3px;
}
#check-age{
  width: 480px;
}
.guest-plus_one {
    position: absolute;
    top: 120px;
    width: 292px;
    left: 555px;
}
#question-to-russell {
    border-color: #000000;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
    width: 225px;
    font-size: 12px;
    height: 85px;
}
#plus_one{
    margin-top: 21px;
}
#reg_man-container{
    width: 225px;
    position: absolute;
    right: 262px;
    top: 175px;
}
#reg-submit-container{
    margin-top: 34px;
    padding-bottom: 30px;
}
#reg-submit{
    width: 225px;
    margin-left: 31px;
    margin-top: 18px;
    height: 35px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(0, 43, 69, 1);
    color: #fff;
}
#russell-autograph{
    font-size: 13px;
    font-size: 13px;
    width: 312px;
    float: right;
    text-align: right;
    margin-top: 17px;
}

/******FOOTER****************************************************************************************************/
.site-footer{
  	height: 212px;
  	text-align: center;
}
.site-footer, .main:after {
  height: 212px;
}
#footer-sec1 {
    width: 100%;
    height: 150px;
    float: left;
}
#footer-sec2{
	background-color: #7691BC;
    height: 62px;
    color: #FFF;
    float: left;
    width: 100%;
    display:table;
	
}
#footer-mail{
	 display: table-cell;
    vertical-align: middle; 
}
#hor_line{
	opacity: 0.6;
}
#footer-partners{
	width: 100%;
	height: 105px;
	margin: 35 0 36 0;

}
#footer-partners-heading{
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 8px;

}
#partner-logo{
	position: absolute;
    width: 474px;
    margin-left: 412px;
   
}


.social-links
{
    opacity: 0.5;
    background: url("../images/sprite.png");
}
.social-links:hover
{
    opacity: 2;
}
#john
{
    width: 214px;
    height: 46px;
    background: url('../images/sprite.png') repeat scroll 5px -318px transparent;
    margin-top: 13px;
    float: left;
}
#visa
{
    width: 177px;
    background: url('../images/sprite.png') repeat scroll 0px -146px transparent;
    height: 44px;
    margin-top: 18px;
    float: left;
}
#seastar{
    margin-top: 13px;
    float: left;
}
/******fontello css code for icon-play*******/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello-14ddab5a/font/fontello.eot?92847316');
  src: url('../fonts/fontello-14ddab5a/font/fontello.eot?92847316#iefix') format('embedded-opentype'),
       url('../fonts/fontello-14ddab5a/font/fontello.woff?92847316') format('woff'),
       url('../fonts/fontello-14ddab5a/font/fontello.ttf?92847316') format('truetype'),
       url('../fonts/fontello-14ddab5a/font/fontello.svg?92847316#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92847316#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-quote-right:before { content: '\e800'; } /* '' */
.icon-quote-circled:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
/************ css for icon-play ends*************/  