#main 
{
	width: 100%;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	position: relative;
}
#main_wrapper
{

	margin: 0 auto;
	width: 70%;
}
#banner
{
	float: left;
	margin-top: 63px;
	width: 48%;
}
#banner_text
{
	float: left;
}
#form
{
	
}
.text_field
{
	float: left;
	margin-top: 7%;
	width: 93%;
	padding: 0 19%;
}
.field_mail
{
	height: 33px;
	float: left;
	width: 77%;
	border: 1px solid  rgba(0, 0, 0, 0.73);
	background-image: url("../images/user.png");
	background-repeat: no-repeat;
	padding-left: 36px;

}
.field_mileage
{
	height: 33px;
	float: left;
	width: 77%;
	border: 1px solid rgba(0, 0, 0, 0.73);
	background-image: url("../images/key.png");
	background-repeat: no-repeat;
	padding-left: 36px;
}
::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.73);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.73);
   opacity: 1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.73);  
   opacity: 1;  
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, 0.73);  
}
#button
{
	width: 81%;
	margin-top: 7%;
	border-radius: 0px;
	border: 1px solid white;
	background-color: #002B45;
	color: white;
	height: 43px;
	margin-left: 19%;
}
#russell
{
	float: right;
	padding-top: 50px;
	bottom: 0;
}
